{% load static %}
{% load i18n %}
<div class="referans">
    
<p class="m-0 fw-bold fs-60">{% trans "Our References" %}</p>
<div class="owl-carousel owl-theme">
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/arkas.png' %}"
             alt="arkas">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/borusan.png' %}"
             alt="borusan">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/celiktrans.png' %}"
             alt="celiktrans">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/erkal.png' %}"
             alt="erkal">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/fatih.jpg' %}"
             alt="fatih">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/gestas.png' %}"
             alt="gestas">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/gürdesan.png' %}"
             alt="gürdesan">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/hatsan.png' %}"
             alt="hatsan">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/ido.png' %}"
             alt="ido">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/iltekno.png' %}"
             alt="iltekno">
    </div>
    <div class="item">
        <img width="auto"
             height="auto"
             src="{% static 'images/referance/kuzey-star.png' %}"
             alt="iltekno">
    </div>
</div>

</div>