{% load static %}
<div class="d-flex justify-content-center align-items-center" style="background:linear-gradient(to bottom, #000000, #484848);height:350px">

<div class="container">
    <div class="text-center">
        <p class="fs-30 mb-3 fw-bold rowdies-family text-secondary">Saygı Denizcilik: Sektördeki Lider Vizyonumuz

        </p>
    </div>
    <div class="text-center">
        <p class="fs-19">
            Saygı Denizcilik olarak, denizcilik sektöründe, özellikle de gemi endüstrisinde yenilikçi ürünler geliştirmeyi
            ve üretmeyi hedefliyoruz. Sektördeki geniş deneyimiyle güçlü bir ekipten oluşan bu girişim, tutkulu, hevesli ve
            kararlı bir vizyonla şekillenmiştir. Şirketimizin kurucusu ve yakın çalışma arkadaşları, gemi endüstrisinde <span class="text-secondary">
                25 yılı
            </span> 
            aşkın bir süredir edindikleri deneyimle, sektöre öncülük etmeye devam etmektedir.
        </p>
    </div>
</div>

</div>