<!-- templates/includes/slider.html -->
{% load static %}
{% load i18n %}
<div class="bg-black">
    <div class="container py-5">
        <p class="m-0 fs-14" style="color:#E89E49">{% trans "About us" %}</p>
        <div class="row">
            <div class="col-md-6 d-flex flex-column">
                <div>
                    <p class="m-0 fw-bold fs-60">{% trans "Marine Technology" %}</p>
                    <p class="lead">
                        {% blocktrans %}
                        Saygı Marine, a pioneering force in the maritime and electrical sector since 1977, offers reliable solutions in ship electrical projects with over 30 years of experience. We provide a wide range of services from providing equipment for newly built ships to the production of control panels, from radar imaging and fire alarm systems to automation and monitoring systems.
                        {% endblocktrans %}
                    </p>
                    <a class="btn btn-light mt-5 p-3 text-black w-25">{% trans "See More" %}</a>
                </div>
                <div class="mt-auto d-flex  justify-content-start align-items-center">
                    <p class="fw-bold fs-60"
                       style="background: linear-gradient(90deg, #84FAB0 0%, #8FD3F4 100%);
                              -webkit-background-clip: text;
                              color: transparent;
                              margin-right: 10px">+44</p>
                    <p class="fs-18">
                        {% trans "Maritime and Electrical" %}
                        <br>
                        {% trans "Strong Steps in the Industry" %}
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <p class="fw-bold fs-24 mb-3">
                        " {% blocktrans %}
                        Saygı Marine has been a leader in the maritime industry since 1977.
                        {% endblocktrans %}  "
                    </p>
                    <p class="mb-5">
                        {% blocktrans %}
                       We also lead the sector with our expert team in AC and DC motor, generator and transformer winding, repair and testing. Since 1994, we continue to make a difference in the maritime world with ship maintenance, electrical, decoration, machinery and docking services in accordance with Loyd rules.

                       Saygı Marine, shaped by the principles of power, innovation and excellence, builds the future in every wave.{% endblocktrans %}
                    </p>
                </div>
                <img width="100%"
                     height="auto"
                     src="{% static 'images/about-us.jpg' %}"
                     alt="about"
                     class="img-fluid rounded">
            </div>
        </div>
    </div>
</div>
