{% load static %}
{% load i18n %}
<div class="navbar-height">

    <div class="line z-0">
        <img width="auto"
             height="auto"
             alt="{% trans 'line' %}"
             src="{% static 'images/line.png' %}">
    </div>
    <div class="container navbar-text position-relative z-1">
        <div class="row">
            <div class="col-6 text-start fw-bold"
                 style="font-size:24px;
                        color:#E5E5E5">
                <p>
                    {% trans "Excellence in Maritime" %}
                    <br />
                    {% trans "Yakalarken" %}
                    {% trans "Yenilik ve Teknoloji ile" %}
                    <br />
                    {% trans "Geleceği Şekillendiriyoruz" %}
                </p>
            </div>
            <div class="col-6 d-flex flex-wrap justify-content-end ">
                <p class="rowdies-family" style="font-size:60px;">
                    {% trans "Denizcilikte" %}
                    <br />
                    {% trans "Devrim" %}
                </p>
                <p>
                    {% trans "Denizlerin geleceği," %}
                    <br />
                    {% trans "teknoloji ve mühendisliğin" %}
                    <br />
                    {% trans "kusursuz uyumuyla şekillenirken," %}
                    <br />
                    {% trans "güç, yenilik ve sınırları aşan vizyonumuzla" %}
                    <br />
                    {% trans "her dalgada yeni bir çağ başlatıyoruz." %}
                </p>
            </div>
            <div class="col-6 text-start mt-auto">
                <button class="btn btn-outline-light diagonal-btn">{% trans "Daha Fazlasını Gör" %} ></button>
            </div>
            <div class="col-6 double-image ">
                <div>
                    <img width="auto"
                         height="auto"
                         alt="{% trans 'ship' %}"
                         src="{% static 'images/ship-1.png' %}">
                    <img width="auto"
                         height="auto"
                         alt="{% trans 'ship' %}"
                         src="{% static 'images/ship-2.png' %}">
                    <img width="auto"
                         height="auto"
                         alt="{% trans 'ship' %}"
                         src="{% static 'images/ship-3.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>