{% load static %}
<div class="navbar-height">
    <div class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand roboto-family fw-bold" href="{% url 'index' %}">SAYGI Denizcilik ve Elektrik</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto gap-5">
                    <li class="nav-item">
                        <a class="nav-link roboto-family fs-14 text-white fw-light">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link roboto-family fs-14 text-white fw-light">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link roboto-family fs-14 text-white fw-light">Kurumsal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link roboto-family fs-14 text-white fw-light">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="line">
        <img width="auto"
             height="auto"
             alt="line"
             src="{% static 'images/line.png' %}">
    </div>
    <div class="container navbar-text">
        <div class="row">
            <div class="col-6 text-start fw-bold"
                 style="font-size:24px;
                        color:#E5E5E5">
                <p>
                    Denizcilikte Mükemmelliği
                    <br />
                    Yakalarken
                    Yenilik ve Teknoloji ile
                    <br />
                    Geleceği Şekillendiriyoruz
                </p>
            </div>
            <div class="col-6 d-flex flex-wrap justify-content-end ">
                <p class="rowdies-family" style="font-size:60px;">
                    Denizcilikte
                    <br />
                    Devrim
                </p>
                <p>
                   
                    Denizlerin geleceği,   <br />teknoloji ve mühendisliğin  <br /> kusursuz uyumuyla şekillenirken,  <br /> güç, yenilik ve sınırları aşan vizyonumuzla  <br /> her dalgada yeni bir çağ başlatıyoruz.                    
                </p>
            </div>
            <div class="col-6 text-start mt-auto">
                <button class="btn btn-outline-light diagonal-btn">Daha Fazlasını Gör > </button>
            </div>
            <div class="col-6 double-image ">
                <div>
                    <img width="auto"
                         height="auto"
                         alt="line"
                         src="{% static 'images/ship-1.png' %}">
                    <img width="auto"
                         height="auto"
                         alt="line"
                         src="{% static 'images/ship-2.png' %}">
                    <img width="auto"
                         height="auto"
                         alt="line"
                         src="{% static 'images/ship-3.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
