{% load static %}
<div class="navbar-height">
    <div class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand roboto-family fw-bold" href="{% url 'index' %}">SAYGI Denizcilik ve Elektrik</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto gap-5">
                    <li class="nav-item">
                        <a class="nav-link roboto-family fs-14 text-white fw-light">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link roboto-family fs-14 text-white fw-light">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link roboto-family fs-14 text-white fw-light">Kurumsal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link roboto-family fs-14 text-white fw-light">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="line">
        <img width="auto"
             height="auto"
             alt="line"
             src="{% static 'images/line.png' %}">
    </div>
    <div class="container navbar-text">
        <div class="row">
            <div class="col-6 text-start fw-bold"
                 style="font-size:24px;
                        color:#E5E5E5">
                <p>
                    Striving to Achieve Excellence
                    <br />
                    in the Global Marine Industry
                    <br />
                    while Bringing Revolutionary
                    <br />
                    Innovation.
                </p>
            </div>
            <div class="col-6 d-flex flex-wrap justify-content-end ">
                <p class="rowdies-family" style="font-size:60px;">
                    Mujoro
                    <br />
                    Innovations
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    <br />
                    adipiscing elit. Sapien cursus integer diam
                    <br />
                    varius ac pellentesque est neque. Tempor,
                    <br />
                    faucibus sed massa neque id in quam.
                    <br />
                    Amet feugiat quam ut scelerisque nec
                    <br />
                    imperdiet nisl leo.
                </p>
            </div>
            <div class="col-6 text-start mt-auto">
                <button class="btn btn-primary diagonal-btn">Diagonal Button</button>
            </div>
            <div class="col-6 double-image ">
                <div>
                    <img width="auto"
                         height="auto"
                         alt="line"
                         src="{% static 'images/ship-1.png' %}">
                    <img width="auto"
                         height="auto"
                         alt="line"
                         src="{% static 'images/ship-2.png' %}">
                    <img width="auto"
                         height="auto"
                         alt="line"
                         src="{% static 'images/ship-3.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
