{% extends "base.html" %}
{% block header_slider %}
{% endblock header_slider %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border-0 shadow-lg">
                    <div class="card-header bg-black text-white">
                        <h5 class="m-3 ms-0">Yeni Doküman Ekle</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-warning mt-5 w-100">Kaydet</button>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'dokuman_list' %}" class="btn btn-secondary">Listeye Dön</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
