{% extends "base.html" %}
{% load i18n %}
{% block header_slider %}
{% endblock header_slider %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card border-0 shadow-lg">
                    <div class="card-header bg-black text-white">
                        <h5 class="m-3 ms-0">{% trans "Document Details" %}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for field in fields %}
                                <div class="col-{{ field.size }}">
                                    <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                                    {% if field.type == 'checkbox' %}
                                        <input type="checkbox"
                                               name="{{ field.name }}"
                                               value="true"
                                               {% if field.value %}checked{% endif %}
                                               class="form-check-input"
                                               disabled>
                                    {% elif field.type == 'text' %}
                                        <input type="text"
                                               name="{{ field.name }}"
                                               value="{{ field.value }}"
                                               class="form-control"
                                               disabled>
                                    {% elif field.type == 'date' %}
                                        <input type="date"
                                               name="{{ field.name }}"
                                               value="{{ field.value|date:'Y-m-d' }}"
                                               class="form-control"
                                               disabled>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'document_list' %}" class="btn btn-warning w-100 my-5">{% trans "Return to List" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
