{% extends "base.html" %}
{% block header_slider %}
{% endblock header_slider %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card border-0 shadow-lg">
                    <div class="card-header bg-black text-white">
                        <h5 class="m-3 ms-0">Döküman Düzenle</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <form class="row" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in fields %}
                                    <div class="col-{{ field.size }}">
                                        <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                                        {% if field.type == 'checkbox' %}
                                            <input type="checkbox"
                                                   name="{{ field.name }}"
                                                   value="true"
                                                   {% if field.value %}checked{% endif %}
                                                   class="form-check-input">
                                        {% elif field.type == 'text' %}
                                            <input type="text"
                                                   name="{{ field.name }}"
                                                   value="{{ field.value }}"
                                                   class="form-control">
                                        {% elif field.type == 'date' %}
                                            <input type="date"
                                                   name="{{ field.name }}"
                                                   value="{{ field.value|date:'Y-m-d' }}"
                                                   class="form-control">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <button type="button"
                                        class="btn btn-warning mt-5 w-100"
                                        data-bs-toggle="modal"
                                        data-bs-target="#confirmModal">Kaydet</button>
                                <div class="modal fade"
                                     id="confirmModal"
                                     tabindex="-1"
                                     aria-labelledby="confirmModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmModalLabel">Kaydetmek İstediğinize Emin Misiniz?</h5>
                                                <button type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">Kaydetmek istediğinizden emin misiniz? Bu işlem geri alınamaz.</div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                <button type="submit" class="btn btn-primary">Evet, Kaydet</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{% url 'dokuman_list' %}" class="btn btn-warning w-100 my-5">Listeye Dön</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
