{% extends "base.html" %}
{% block header_slider %}
{% endblock header_slider %}
{% load static %}
{% block content %}
    <div class="container my-5">
        <h2>SAYGI BAKIM</h2>
        <div class="row g-4">
            <div class="col-4">
                <div class="card p-0 border-0 h-100">
                    <img width="auto"
                         height="auto"
                         src="{% static 'images/lux-document.jpg' %}"
                         class="card-img-top"
                         alt="Doküman Ekle">
                    <div class="card-body d-flex flex-column text-black">
                        <h5 class="card-title">Doküman Yükle</h5>
                        <p class="card-text flex-grow-1">Yeni bir doküman yüklemek için tıklayın. Üyelik gereklidir.</p>
                        <a  href="{% url 'dokuman_ekle' %}" class="btn w-100 btn-warning mt-5">Şimdi Yükle</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card p-0 border-0 h-100">
                    <img width="auto"
                         height="auto"
                         src="{% static 'images/lux-document-2.jpg' %}"
                         class="card-img-top"
                         alt="Doküman Görüntüle">
                    <div class="card-body d-flex flex-column text-black">
                        <h5 class="card-title">Dokümanları İncele</h5>
                        <p class="card-text flex-grow-1">Dokümanlarınızı arayın ve görüntüleyin.</p>
                        <a href="{% url 'dokuman_list' %}" class="btn w-100 btn-warning mt-5">Doküman Ara</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card p-0 border-0 h-100">
                    <img width="auto"
                         height="auto"
                         src="{% static 'images/lux-document-3.jpg' %}"
                         class="card-img-top"
                         alt="Tüm Dokümanlar">
                    <div class="card-body d-flex flex-column text-black">
                        <h5 class="card-title">Tüm Dokümanlara Göz Atın</h5>
                        <p class="card-text flex-grow-1">Mevcut tüm dokümanları listeleyip inceleyebilirsiniz.</p>
                        <a href="{% url 'dokuman_list' %}" class="btn w-100 btn-warning mt-5">Hepsini Gör</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
