{% extends "base.html" %}
{% load i18n %}
{% block header_slider %}
{% endblock header_slider %}
{% load static %}
{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-4">
                <div class="card border-0 shadow-lg">
                    <div class="card-header bg-black text-white d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">{% trans "Institutional Information" %}</h4>
                    </div>
                    <div class="card-body">
                        <img width="auto"
                             height="auto"
                             class="img-fluid rounded-2 w-100"
                             src="{% static 'images/logo/logo-tur.jpg' %}"
                             alt="{% trans "Add Document" %}">
                        <div class="card-body">
                            <h5 class="card-title">{% trans "Saygı Maritime" %}</h5>
                       
                            {% if user.is_superuser %}
                                <a href="{% url 'task_add' %}" class="btn btn-warning">
                                    <i class="bi bi-plus-circle"></i> {% trans "Assign Task" %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
