{% extends "base.html" %}
{% load i18n %}
{% block header_slider %}
{% endblock header_slider %}
{% load static %}
{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card border-0 shadow-lg">
                    <div class="card-header bg-black text-white">
                        <h4 class="mb-0">{% trans "Yeni Departman Ekle" %}</h4>
                    </div>
                    <div class="card-body bg-white">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="{{ form.name.id_for_label }}" class="form-label text-black">{% trans "Departman Adı" %}</label>
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <div class="alert alert-danger mt-1">
                                        {{ form.name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.code.id_for_label }}" class="form-label text-black">{% trans "Departman Kodu" %}</label>
                                {{ form.code }}
                                {% if form.code.errors %}
                                    <div class="alert alert-danger mt-1">
                                        {{ form.code.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'department_list' %}" class="btn btn-secondary">
                                    <i class="bi bi-arrow-left"></i> {% trans "Geri" %}
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-save"></i> {% trans "Kaydet" %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %} 